{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard | driver</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <script>
        function initMap() {
            // Initialize the map
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: {{ location_lat }}, lng: {{ location_lng }} }
            });

            var markers = [
                { 
                    lat: {{ location_lat }},
                    lng: {{ location_lng }},
                    icon: null 
                },
                { 
                    lat: {{ amb_location_lat }},
                    lng: {{ amb_location_lng }},
                    icon: "{% static 'assets/img/ambulance.png' %}"
                }
            ];

        markers.forEach(function (location) {
            new google.maps.Marker({
                position: location,
                map: map,
                icon: location.icon
            });
        });
        }
    </script>
    <!-- Load the Google Maps JavaScript API asynchronously -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYNRMNE79q4PRFknBXsMXA6VnxezRMkB0&callback=initMap"></script>


    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">SAS driver</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                {% for user in user %}
                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.first_name }}</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                            <span>Driver</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                                href="{% url 'driver_profile' user.id %}">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'driver_logout' %}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
                {% endfor %}

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            {% for user in user %}
            <li class="nav-item">
                <a class="nav-link " href="#">
                    <i class="bi bi-grid"></i>
                    <span>Case</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'driver_h_and_a' user.id %}">
                    <i class="bi bi-grid"></i>
                    <span>H&A</span>
                </a>
            </li><!-- End Dashboard Nav -->


            <li class="nav-heading">Pages</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'driver_profile' user.id %}">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li><!-- End Profile Page Nav -->
            {% endfor %}



        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <section class="section profile">
            <div class="row">
                <div class="col-xl-12">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#profile-overview">Current Case</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#profile-edit">History</button>
                                </li>

                            </ul>
                            <div class="tab-content pt-2">

                                
                                <div class="tab-pane fade profile-overview pt-3" id="profile-overview">
                                    <form id="toggleTrackingForm" method="POST" action="{% url 'toggle_tracking' %}">
                                        {% csrf_token %}
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" name="is_tracking" id="toggleTrackingSwitch" {% if driver.is_tracking %} checked {% endif %}>
                                            <label class="form-check-label" for="toggleTrackingSwitch">{{ driver.is_tracking|yesno:"Turn Off Tracking,Turn On Tracking" }}</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-2">Update</button>
                                    </form>
                                    <br>
                                    <br>
                                    <div id="map" style="width: 100%; height: 400px;"></div>
      

                                </div>
                                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Case ID</th>
                                                <th scope="col">Patient Name</th>
                                                <th scope="col">Point of Contact</th>
                                                <th scope="col">Accident Type</th>
                                                <th scope="col">Severity Level</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Date and Time</th>
                                                <th scope="col">Customer Care</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for case in case %}
                                            {% for driver in dri %}
                                            {% if case.status == 1 and case.ambulance.driver_1.user_driver.id == driver.user_driver.id %}
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ case.case_id }}</td>
                                            <td>{{ case.Patient_name }}</td>
                                            <td>{{ case.poc }}</td>
                                            <td>{{ case.get_accident_type_display }}</td>
                                            <td>{{ case.get_patient_severity_display }}</td>
                                            <td>{{ case.location }}</td>
                                            <td>{{ case.time_date }}</td>
                                            <td>{{ case.assigned_cc_person.user_cc.username }}</td>
                                            </tr>

                                            {% endif %}
                                            {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div><!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    
    <script>
        function updateLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    const location = position.coords.latitude + ',' + position.coords.longitude;
                    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    fetch('{% url "update_location" %}', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': csrfToken,
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'location': location
                        })
                    });
                });
            }
        }
    
        setInterval(updateLocation, 5000); // Update every 5 seconds
    </script>
    <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/quill/quill.js' %}"></script>
    <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>